<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 - Access Forbidden</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #e9efff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 60px;
            margin-bottom: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #806bd3;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #7a4c93;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <h1>Only InsIIT Maintainers can access this Page!</h1>
            <p>You need superuser access to change these settings</p>
            <a href="/" class="btn">Go back to Homepage</a>
        </div>
    </div>
</body>

</html>