<%- include('./partials/header'); %>

    <!--Main layout-->
    <main style="margin-top: 58px">
        <div class="container pt-4">

            <h2>Welcome to InsIIT Admin</h2>
        </div>
    </main>
    <!--Main layout-->
    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.umd.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="js/admin.js"></script>

</body>

</html>