<%- include('./partials/header'); %>

    <!--Main layout-->
    <main style="margin-top: 58px">
        <div class="container pt-4">

            <h2>Hi, <%= name %><br><br>Welcome to InsIIT Admin</h2>
        </div>
    </main>
   
    <script type="text/javascript" src="js/mdb.umd.min.js"></script>
    <script type="text/javascript" src="js/admin.js"></script>

    </body>

    </html>