<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Mess | InsIIT Admin</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
  <link rel="stylesheet" href="css/mdb.min.css" />
  <link rel="stylesheet" href="css/admin.css" />

  <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet">


</head>

<body onload="addMenu()">
  <header>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="index.html" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init
            aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
          </a>
          <a href="/mess" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
            <i class="fas fa-cutlery fa-fw me-3"></i><span>Mess</span>
          </a>
          <a href="/buses" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-bus fa-fw me-3"></i><span>Buses</span></a>
          <a href="/outlets" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-shop fa-fw me-3"></i><span>Outlets</span></a>
          <a href="/events" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
            <i class="fas fa-calendar fa-fw me-3"></i><span>Events Calender</span>
          </a>
          <a href="/representatives" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-user-circle fa-fw me-3"></i><span>Representatives</span></a>

          <a href="/settings" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-gears fa-fw me-3"></i><span>Settings</span></a>

          <a href="/manage_admin" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-users fa-fw me-3"></i><span>Admin Profiles</span></a>

        </div>
      </div>
    </nav>

    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <a class="navbar-brand" href="#">
          <img src="/img/Icon.png" height="35" alt="" loading="lazy" /> InsIIT Admin
        </a>


        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          


          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-dropdown-init aria-expanded="false">
              <img src="<%= picture %>" class="rounded-circle" height="22"
                alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#"><br>
                <b>
                    Name: <%= name %>
                </b> <br>
                Email: <%= email %>
            </a></li>
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main style="margin-top: 58px">
    <div class="container pt-4">
      <div class="mess-details">
        <div id="mess-location"></div>
        <div id="mess-timings"></div>
        <div id="mess-rating"></div>
        <div id="edit-menu">
          <a href="/edit-menu" class="btn btn-primary">Edit Menu</a>
        </div>

        <h2>Mess</h2>
        <div id="messMenu"></div>
      </div>

      <script>
        const initialData = [
          ['', '', '', '', '', '', ''],
          ['', '', '', '', '', '', ''],
          ['', '', '', '', '', '', ''],
          ['', '', '', '', '', '', '']
        ];

        // Handsontable settings
        const hotSettings = {
          data: initialData,
          colHeaders: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
          rowHeaders: ['Breakfast', 'Lunch', 'Snacks', 'Dinner'],
          rowWidth: 100,

          height: 'auto',
          width: '100%',
          readOnly: true,
          colWidths: 100,
          rowHeights: 60,
          stretchH: 'all',
          stretchW: 'all',
          manualColumnResize: true,
          autoWrapRow: true,
          autoWrapCol: true,
          contextMenu: true,
          licenseKey: 'non-commercial-and-evaluation',
          afterChange: (changes, source) => {
            if (source === 'edit') {
              console.log('Data changed', changes);
            }
          }
        };

        // Initialize Handsontable
        const container = document.getElementById('messMenu');
        const hot = new Handsontable(container, hotSettings);

        // Function to add mess menu
        let globalMenuId; // Declare a variable to store the _id globally

        async function addMenu() {
          try {
            const response = await fetch('<%= apiurl %>/api/mess-menu'); // Fetch data from the API endpoint
            const menuData = await response.json(); // Parse the JSON response

            globalMenuId = menuData._id; // Store the _id globally

            const days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

            for (const item of menuData.mess) {
              const dayIndex = item.day - 1;
              hot.setDataAtCell(0, dayIndex, item.breakfast);
              hot.setDataAtCell(1, dayIndex, item.lunch);
              hot.setDataAtCell(2, dayIndex, item.snacks);
              hot.setDataAtCell(3, dayIndex, item.dinner);
            }
          } catch (error) {
            console.error('Error fetching menu data:', error);
          }
        }





      </script>
    </div>
  </main>

  <script type="text/javascript" src="js/mdb.umd.min.js"></script>
  <script type="text/javascript" src="js/admin.js"></script>

</body>
</html>