<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Outlets | InsIIT Admin</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="css/mdb.min.css" />
  <!-- Custom styles -->
  <link rel="stylesheet" href="css/admin.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init
            aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
          </a>
          <a href="/mess" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
            <i class="fas fa-cutlery fa-fw me-3"></i><span>Mess</span>
          </a>
          <a href="/buses" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-bus fa-fw me-3"></i><span>Buses</span></a>
          <a href="/outlets" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-shop fa-fw me-3"></i><span>Outlets</span></a>
          <a href="/events" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
            <i class="fas fa-calendar fa-fw me-3"></i><span>Events Calender</span>
          </a>
          <a href="/representatives" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-user-circle fa-fw me-3"></i><span>Representatives</span></a>

          <a href="/settings" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-gears fa-fw me-3"></i><span>Settings</span></a>

          <a href="/manage_admin" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
              class="fas fa-users fa-fw me-3"></i><span>Admin Profiles</span></a>

        </div>
      </div>
    </nav>

    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <a class="navbar-brand" href="#">
          <img src="/img/Icon.png" height="35" alt="" loading="lazy" /> InsIIT Admin Panel
        </a>


        <ul class="navbar-nav ms-auto d-flex flex-row">
          


          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-dropdown-init aria-expanded="false">
              <img src="<%= picture %>" class="rounded-circle" height="22"
                alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#"><br>
                <b>
                    Name: <%= name %>
                </b> <br>
                Email: <%= email %>
            </a></li>
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <main style="margin-top: 70px">
    <div class="container pt-4">

      <h4>Outlets</h4>
      <br>
      <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init
        data-mdb-target="#addOutlets">
        Add Outlet
      </button> <br><br>
      <div class="pt-4">
        <!-- Add New Event Modal -->
        <div class="modal fade" id="addOutlets" tabindex="-1" aria-labelledby="addOutletsLabel" aria-hidden="true">
          <div class="modal-dialog .modal-fullscreen-sm-down">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addOutletsLabel">Add New Outlet</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="addOutletsForm">
                  <div class="mb-3">
                    <label for="outletName" class="form-label">Outlet Name</label>
                    <input type="text" class="form-control" id="outletName" name="outletName" required>
                  </div>
                  <div id="map" style="height: 400px;"></div>
                  <div class="mb-3">

                    <label for="location" class="form-label">Location</label>
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitude"
                          required>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude"
                          required>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="landmark" class="form-label">Location in Words</label>
                    <input type="text" class="form-control" id="landmark" name="landmark" required>
                  </div>
                  <div class="mb-3">
                    <label for="open_time" class="form-label">Opens At</label>
                    <input type="text" class="form-control" id="open_time" name="open_time" required>
                  </div>
                  <div class="mb-3">
                    <label for="close_time" class="form-label">Close Time</label>
                    <input type="text" class="form-control" id="close_time" name="close_time" required>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="updateOutletModal" tabindex="-1" aria-labelledby="updateOutletModalLabel"
          aria-hidden="true">
          <div class="modal-dialog .modal-fullscreen-sm-down">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateOutletModalLabel">Update Outlet Details</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="updateOutletForm">
                  <div class="mb-3">
                    <label for="edit-outlet-id" class="form-label">Outlet ID</label>
                    <input type="text" class="form-control" id="edit-outlet-id" required disabled>
                  </div>
                  <div class="mb-3">
                    <label for="edit-outlet-name" class="form-label">Outlet Name</label>
                    <input type="text" class="form-control" id="edit-outlet-name" required>
                  </div>
                  <div class="mb-3">
                    <label for="edit-outlet-location" class="form-label">Location/Landmark</label>
                    <input type="text" class="form-control" id="edit-outlet-location" required>
                  </div>
                  <div class="mb-3">
                    <label for="edit-outlet-date" class="form-label">Open Time</label>
                    <input type="text" class="form-control" id="edit-outlet-open-time" required>
                  </div>
                  <div class="mb-3">
                    <label for="edit-outlet-start" class="form-label">Close Time</label>
                    <input type="text" class="form-control" id="edit-outlet-close-time" required>
                  </div>
                  <button type="submit" onclick="updateOutlet(event)" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="updateOutletMenu" tabindex="-1" aria-labelledby="updateOutletMenuLabel"
          aria-hidden="true">
          <div class="modal-dialog .modal-fullscreen-sm-down">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateOutletMenuLabel">Update Outlet Menu</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="outlet-id" class="form-label">Outlet ID</label>
                  <input type="text" class="form-control" id="edit-outlet-menu-id" required disabled>
                </div>

                <div id="hot-container"></div>
              </div>

              <button onclick="updateOutletMenu(event)" class="btn btn-primary">Submit</button>

            </div>
          </div>
        </div>



        <div class="table-responsive">
          <table class="table table-bordered" id="outlets-table-body">
          </table>
        </div>
        <div class="text-center mt-3">
          <div class="spinner-border" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>
    function checkModalShown() {
      var modal = $('#addOutlets');
      if (modal.hasClass('show')) {
        var initial_pos = L.latLng(23.21049, 72.68475);
        var map = L.map('map').setView(initial_pos, 17); // Set zoom level to 17

        // Add a tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var marker = L.marker(initial_pos).addTo(map);

        map.on('click', function (e) {
          var latitude = e.latlng.lat.toFixed(6);
          var longitude = e.latlng.lng.toFixed(6);
          document.getElementById('latitude').value = latitude;
          document.getElementById('longitude').value = longitude;
          marker.setLatLng(e.latlng);
          marker.setLatLng(e.latlng);
        });

        // Resize the map tiles to fix the issue
        setTimeout(function () {
          map.invalidateSize();
        }, 400); // Adjust the delay as needed
      } else {
        // If modal is not shown, wait and check again
        setTimeout(checkModalShown, 100);
      }
    }

    // Call the function when the page loads
    $(document).ready(function () {
      checkModalShown();
    });

    document.getElementById('addOutletsForm').addEventListener('submit', async function (event) {
      event.preventDefault();

      const outletData = {
        name: document.getElementById('outletName').value,
        location: {
          latitude: document.getElementById('latitude').value,
          longitude: document.getElementById('longitude').value
        }, landmark: document.getElementById('landmark').value,
        open_time: document.getElementById('open_time').value,
        close_time: document.getElementById('close_time').value,
      };
      console.log(outletData);
      try {
        const response = await fetch('<%= apiurl %>/api/outlets', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'x-api-key': 'metis-at-insiit'
          },
          body: JSON.stringify(outletData)
        });
        if (!response.ok) {
          throw new Error('Failed to add outlet');
        }
        console.log("Added outlet successfully");
        alert('Outlet added successfully');
        $('#addOutlets').modal('hide');

        fetchOutlets();
      } catch (error) {
        console.error('Error:', error);
        alert('Failed to add outlet. Please try again.');
      }
    });

  </script>
  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
  <script type="text/javascript" src="js/admin.js"></script>




</body>

</html>